*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body{
  background-color: lightgreen;
}

.year{
  margin: 15px 50px;
}
.prev,
.next{
  font-size: 22px;
}

.calendar{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.days{
  text-align: center;
  font-size: 20px;
}
.red{
  color: red;
}
#entry-template{
  display: none;
}
